---
import DashboardLayout from '@/layouts/DashboardLayout.astro';
import Sidebar from "@/components/Sidebar.astro";
import '@/styles/dashboard.css';

import { FetchCertificates } from './FetchCertificates';
import { NewCertificateModal } from './modals/NewCertificateModal';
---
<DashboardLayout>
  <Sidebar slot="sidebar" activeSection="/certificates" />

  <main class="dashboard-main">
    <div class="flex flex-col md:flex-row justify-between items-center mb-6">
      <div>
        <h1 class="dashboard-title">Gestión de Certificados</h1>
        <p class="dashboard-subtitle">Administra los certificados digitales del sistema</p>
      </div>
      <NewCertificateModal client:load/>
    </div>

    <!-- Tabla de certificados -->
    <section class=" mt-8">
      <div class="bg-white rounded-lg shadow overflow-hidden certificates-section">
        <div class="overflow-x-auto">
          <FetchCertificates client:load />
        </div>
      </div>

      <!-- Paginación -->
      <!-- <div class="flex justify-between items-center mt-4">
        <div class="text-sm text-gray-500">
          Mostrando 1 al 5 de 5 certificados
        </div>
        <div class="flex space-x-2">
          <button class="px-3 py-1 border rounded-md text-gray-700 bg-white hover:bg-gray-50">Anterior</button>
          <button class="px-3 py-1 border rounded-md text-white bg-blue-600 hover:bg-blue-700">1</button>
          <button class="px-3 py-1 border rounded-md text-gray-700 bg-white hover:bg-gray-50">Siguiente</button>
        </div>
      </div> -->
    </section>

    <!-- Modal Nuevo Certificado -->
    
  </main>

  <script is:inline>
    function filtrarCertificados() {
      const input = document.getElementById("buscador").value.toLowerCase();
      const filas = document.querySelectorAll("#tabla-certificados tbody tr");
      filas.forEach(fila => {
        const texto = fila.innerText.toLowerCase();
        fila.style.display = texto.includes(input) ? "" : "none";
      });
    }
  </script>

  
</DashboardLayout>
