---
const { username, avatar } = Astro.props;
---

<div class="user-profile" role="region" aria-label="Perfil de usuario">
  <img src={avatar} alt={`Avatar de ${username}`} class="avatar" />
  <span class="username">{username}</span>
</div>
